:root {
  /* HEADER VARIABLES */
  --header-bg-color: #393e46;
  --header-txt-color: #f8b500;
  /* FOOTER VARIABLES */
  --footer-bg-color: #393e46;
  --footer-txt-color: #f8b500;
  /* ARTICLES VARIABLES */
  --main-bg-color: #cccccc;
  --article-bg-color: #393e46;
  --title-bg-color: #393e46;
  --title-txt-color: #f8b500;
  --author-bg-color: #50565f;
  --author-txt-color: #f8b500;
  --author-border-color: #f8b500;
  --content-bg-color: #f7f7f7;
  --content-txt-color: #50565f;
  --tags-bg-color: #50565f;
  --tags-txt-color: #393e46;
  --tags-border-color: #f8b500;
  --tag-bg-color: #f8b500;
}

.App {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 6rem 1fr 10rem;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

input {
  font-family: "Open Sans", sans-serif;
}

header,
footer {
  display: grid;
  grid-column: 1 / span 4;
}

main {
  grid-column: 1 / span 4;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: auto;
}

.header {
  background-color: var(--header-bg-color);
  padding: 1rem;
}

.head {
  place-self: center stretch;
  color: var(--header-txt-color);
}

.footer {
  background-color: var(--footer-bg-color);
  padding: 1rem;
}

.copyright {
  place-self: center stretch;
  color: var(--footer-txt-color);
}

.articles {
  padding: 2em;
  background-color: var(--main-bg-color);
}

.article {
  background-color: var(--article-bg-color);
  border-radius: 1rem;
  border: 0.5rem solid var(--article-bg-color);
}

.title {
  background-color: var(--title-bg-color);
  color: var(--title-txt-color);
  padding: 1.5rem;
}

.author {
  background-color: var(--author-bg-color);
  color: var(--author-txt-color);
  padding: 0.5rem 1rem;
  border-bottom: 0.2rem solid var(--author-border-color);
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.tags {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: auto;
  justify-items: center;
  background-color: var(--tags-bg-color);
  color: var(--tags-txt-color);
  padding: 0 0 1rem 0;
  border-top: 0.2rem solid var(--tags-border-color);
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.tag {
  background-color: var(--tag-bg-color);
  width: 50%;
  height: 90%;
  font-size: 0.6rem;
  padding: 0.25rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  justify-self: center;
}

.content {
  background-color: var(--content-bg-color);
  color: var(--content-txt-color);
  padding: 1.5rem;
}

.form {
  background-color: var(--article-bg-color);
  border-radius: 1rem;
  border: 0.5rem solid var(--article-bg-color);
}

.form__title {
  background-color: var(--title-bg-color);
  color: var(--title-txt-color);
  padding: 1.5rem;
}

.input__title {
  width: 100%;
  padding: 0.2rem;
  background-color: var(--title-bg-color);
  border: var(--author-bg-color);
  color: var(--content-bg-color);
}

.form__author {
  background-color: var(--author-bg-color);
  color: var(--author-txt-color);
  padding: 0.5rem 1rem;
  border-bottom: 0.2rem solid var(--author-border-color);
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.input__author {
  background-color: var(--author-bg-color);
  border: var(--author-bg-color);
  color: var(--content-bg-color);
  width: 95%;
}

.form__content {
  background-color: var(--content-bg-color);
  color: var(--content-txt-color);
  padding: 1.5rem;
}

.input__content {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  border: 1px solid var(--content-bg-color);
  background-color: var(--content-bg-color);
  resize: none;
}

.form__tags {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  background-color: var(--tags-bg-color);
  color: var(--tags-txt-color);
  border-top: 0.2rem solid var(--tags-border-color);
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  text-align: left;
  padding: 0.5rem;
}

.checkbox__tags {
  font-size: 0.7rem;
  padding: 0.25rem;
}

.form__submit {
  background-color: var(--title-bg-color);
  color: var(--title-txt-color);
  padding: 1.5rem;
}

.input__submit {
  background-color: var(--title-txt-color);
  border: 1px solid var(--title-txt-color);
  color: var(--title-bg-color);
  border-radius: 1rem;
  width: 75%;
  padding: 0.5rem;
}

@media only screen and (min-width: 45em) and (max-width: 68.6875em) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 68.75em) {
  main {
    grid-template-columns: repeat(3, 1fr);
  }
}
